@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<img src="~/Content/img/FotoMia.jpg" height="256px" width="256px" />
<p class="text-justify">Roberto Bernal, estudiante del ITM campus Tijuana.<br /> 
   Nacido en "ciudad genérica", un 21 de Diciembre de 1998.<br /> 
   Actualmente estudiante de 6to semestre con una materia de<br /> 
   7mo y dos de 5to. Presentando trabajo de Desarrollo de <br />
   Aplicaciones Web.</p>
