@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<img src="~/Content/img/Contacto.png" height="128px" width="128px" />

<address>
    Mi casa #340<br />
    Calle genérica, Tijuana, BC<br />
    <abbr title="Phone">P:</abbr>
    664.387.9586
</address>

<address>
    <strong>Asuntos escolares</strong>   <a href="mailto:roberto.bernal17@tectijuana.edu.mx">roberto.bernal17@tectijuana.edu.mx</a><br />
    <strong>Correo personal:</strong> <a href="mailto:bernalr767@gmail.com">bernalr767@gmail.com</a>
</address>