@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>EyC</h1>
    <p class="lead">Ésta página está hecha con el fin de que se lleve un control de eventos que se desean dar de alta y asignarles las ciudades en las que se llevarán a cabo.
    En la pestaña de "Acerca de" encontrará información sobre el desarrollador. En "Contacto" podrá ver las distintas formas en las cuales nos puede contactar. Por último, en
    "Eventos" podrá dar de alta, baja y modificar eventos(así como también ver sus detalles) para asignarles una ciudad(las cuales también puede dar de alta, modificar, borrar
    y ver sus detalles.</p>
</div>